/* Sticky footer styles
-------------------------------------------------- */
html 
{
    position: relative;
    min-height: 100%;
}

body 
{
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


.row
{
    margin-left: 0;
    margin-right: 0;
}

.header
{
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: black;
    z-index: 9;
}

.footer 
{
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black !important;
    z-index: 9;
    /* background-color: #f5f5f5; */
}

.conteudo
{
    margin-top: 100px;
    margin-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.card-header
{
    background-color: #D9EDF6 !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.card-body
{
    /* background-color: rgb(228, 227, 224) !important; */
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container 
{
    padding: 40px 15px 0;
}
.container .text-muted 
{
    margin: 20px 0;
}

.footer > .container 
{
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*
*{
	margin: 0;
}
*/

#menuhorizontal
{
	position: absolute;
	font: 14px Arial, Verdana, Sans-serif;
	/*background: #91c0cf; */
	width: 443px;
	margin: 50px;
	padding: 2px;
}

#menuhorizontal ul
{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

#menuhorizontal ul li
{
	/* background: #ADD8E6; */
	float: left;
}
/*
#menuhorizontal ul li:hover
{
	background: #063646;
} 
*/
#menuhorizontal ul li + li
{
	margin: 0 0 0 2px;
}

#menuhorizontal ul li a
{
	text-decoration: none;
	padding: 3px 20px;
	display: block;
	color: rgb(255, 255, 255); 
}

#menuhorizontal ul li a:hover
{
	color: rgb(102, 10, 10);  
}

#menuhorizontal li.submn1{
	background: url("../imagens/down.png") no-repeat;
}


#menuhorizontal li.submn1:hover{
	background: url("../imagens/down.png") no-repeat;
}

#menuhorizontal li.submn1 ul
{
	/* background: #91c0cf; */
	padding: 2px;
	float: left; 
	position: absolute;/* */
	margin: 0 0 0 0px;
	width: 180px;
	display: none;
}

#menuhorizontal li.submn1 ul li
{
	float: none;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#menuhorizontal li.submn1 ul li + li
{
	margin: 2px 0 0 0;
}


/* Vertical Tabs */

/*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */
 .tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
  }
  .tabs-left {
    border-right: 1px solid #ddd;
  }
  .tabs-right {
    border-left: 1px solid #ddd;
  }
  .tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
  }
  .tabs-left>li {
    margin-right: -1px;
  }
  .tabs-right>li {
    margin-left: -1px;
  }
  .tabs-left>li.active>a,
  .tabs-left>li.active>a:hover,
  .tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
  }
  
  .tabs-right>li.active>a,
  .tabs-right>li.active>a:hover,
  .tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
  }
  .tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
  }
  .tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
  }
  .vertical-text {
    margin-top:50px;
    border: none;
    position: relative;
  }
  .vertical-text>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
  }
  .vertical-text>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
  }
  .vertical-text>li.active>a,
  .vertical-text>li.active>a:hover,
  .vertical-text>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
  }
  .vertical-text.tabs-left {
    left: -50px;
  }
  .vertical-text.tabs-right {
    right: -50px;
  }
  .vertical-text.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .vertical-text.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }